%
% rebar.config
% =============================================================================
% Customers API Lite microservice prototype (LFE/OTP port). Version 0.0.1
% =============================================================================
% A daemon written in LFE (Lisp Flavoured Erlang), designed and intended
% to be run as a microservice, implementing a special Customers API prototype
% with a smart yet simplified data scheme.
% =============================================================================
% (See the LICENSE file at the top of the source tree.)
%

{relx, [
    {release, {
        'customers-api-lite', "0.0.1"
    }, [
        'customers-api-lite'
    ]},

    {mode, prod}
]}.

{deps, [
    {cowboy, "2.14.2"}
]}.

% This tuple is only required to deal as a workaround for the errors
% like the following one:
% ===> Dep cowlib has invalid version >= 2.16.0 and < 3.0.0
% For reference see these issues/comments:
% - https://github.com/ninenines/cowboy/issues/1670
% - https://github.com/erlang/rebar3/issues/2364#issuecomment-695819058
% - https://github.com/erlang/rebar3/issues/2364#issuecomment-2767181518
{overrides, [
    {override, cowboy, [{deps, [cowlib, ranch]}]}
]}.

{profiles, [
    {prod, []}
]}.

{plugins, [
    {rebar3_lfe, "0.4.11"} % <== LFE (Lisp Flavoured Erlang) plugin.
]}.

% vim:set nu et ts=4 sw=4:
